@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    4202 East Fowler Ave., LIB122<br />
    Tampa FL 33620<br />
    <abbr title="Phone">Phone:</abbr>
   813-974-2729
</address>

<address>
    <strong>Front Desk:</strong> <a href="mailto:libraryservicesdesk@usf.edu">libraryservicesdesk@usf.edu</a><br />
    <strong>Questions?:</strong> <a href="https://www.lib.usf.edu/help/ask-a-librarian/">Ask-a-Librarian</a>
</address>
